header{
    background-color: blue;
}

h1{
    color: aliceblue;
}

footer{
    background-color: blue;
}
h3{
    color: aliceblue;
}
p1{
    color: aliceblue;
}
a{
    color: aliceblue;
}
img{
    max-width: 100%;
    height: auto;
}