

body{
    background-color: rgb(207, 244, 207);
}

header {
    background-color: rgb(142, 249, 142);
    padding: 20px;
    text-align: center;
    margin: -20px
}

main nav{
    background-color:  rgb(142, 249, 142);
    position: sticky;
    top: 0;
    margin: -20px;
}

h1 {
    color: black;
}

footer {
    background-color: rgb(142, 249, 142);
    padding: 20px;
    text-align: center;
    margin: -20px;
    border: 1px solid grey; 
    border-radius: 8px; 
}

h3 {
    color: black;
}


p {
    color:aliceblue;
}

a {
    color: #9B59B6;
}


img {
    max-width: 100%;
    height: auto;
}


.descripcion{
    margin: 40px 0; 
    padding: 20px;  
    border: 1px solid grey; 
    border-radius: 8px; 
}

.funcionamiento{
    margin: 40px 0; 
    padding: 20px;  
    border: 1px solid grey; 
    border-radius: 90px; 
}

.beneficios{
    margin: 40px 0; 
    padding: 20px;  
    border: 1px solid grey; 
    border-radius: 80px; 
}
.evolucion{
    margin: 40px 0; 
    padding: 20px;  
    border: 1px solid grey; 
    border-radius: 100px; 
}

.enlace{
    margin: 40px 0; 
    padding: 20px;  
}
h2 {
    color: black;
    font-size: 24px;
    margin-bottom: 15px;
}


p, ul {
    color: black;
    font-size: 16px;
    line-height: 1.6;
}


ul {
    list-style-type: disc;
    padding-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}
